<button onclick="window.location.href='http://localhost:4200/home';" class="btn btn-primary">Back</button>
<div class="imgcontainer">
    <img src="assets/about.jpg" alt="Avatar" class="avatar" width="300" height="400">
</div>

<div class="container">
    <h3>RK Fund Transfer</h3>
    <p align="justify">
        RK funds is one of the trustable fund.Essentially funds transfer is a transaction by which funds
        move from one institution to another or one account to another,Fund transfer process generally 
        consists of a series of electronic messages sent between financial institution directing complete 
        the transaction.the series of transactions, beginning with the originator's payment order,
         made for the purpose of making payment to the beneficiary of the order.
    </p>
</div>
<div class="container">
    <h4>Contact:6798452312</h4>
    <h4>MailId:admin123@gmail.com</h4>
</div>
