
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>ACCOUNT ID</th>
            <th>USERNAME</th>
            <th>MAIL ID</th>
            <th>MOBILE NO</th>
            <th>ACCOUNT TYPE</th>
            <th>ACCOUNT BALANCE</th>
            <th>PASSWORD</th>
        </tr>
        <tr>
            <td>{{account.accountid}}</td>
            <td>{{account.username}}</td>
            <td>{{account.mailid}}</td>
            <td>{{account.mobileno}}</td>
            <td>{{account.accounttype}}</td>
            <td>{{account.accountbalance}}</td>
            <td>{{account.password}}</td>
        </tr>
    </table>
</div>